.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0 ;
    padding: 0;
  }
  
  .titleContainer {
    flex: 0.8;
    text-align: right;
    padding-top: 1rem;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
  }

  .titleContainer h2 {
    font-size: 2.4rem;
    color: #000000;
    font-weight: light;
    margin-bottom: 1rem;
  }

  .titleContainer h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .navContainer {
    flex: 1;
    display: flex;
    justify-content:baseline;
    align-items:first baseline;
    margin-top: 0rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #343a40;
    padding: 20px 40px;
    border-radius: 30px;
  }
  
  .navList a {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 1.2rem;
  }

  /* SVG Shape Divider Styles */
  .custom-shape-divider-top-1769302828 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1769302828 svg, .svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }

.custom-shape-divider-top-1769302828 .shape-fill {
    fill: #000000;
}